<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/_header %>
</header>

<body>
    <ul>
      <li>Short url</li>
      <li><%= shortURL %></li>
    </ul>
</body>

</html>
