<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

    <ul>
      <% for (var url in urls) { %>
      <li><a href="#"><%= url %> - <%= urls[url] %></a></li>
      <% } %>
      <!-- <li><a href="#">Shorten me</a></li> -->
    </ul>
</body>
</html>