<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
    <% include ./partials/_header %>

    <ul>
      <% for (var url in urls) { %>
      <form method="POST" action="/urls/<%= url %>/delete">
      <li><%= url %> - <%= urls[url].longURL %> <a href="/urls/<%= url %>">Edit</a></li>
        <input type="submit" value="DELETE">
      </form>
      <% } %>
      <div>
        <br><br>
      </div>
      <p><a href="/urls/new">Add a new short url</a></p>

    </ul>

</body>

</html>