<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
     <% include ./partials/_header %>

  <% if (!user_id) {%>
  <h3>Log in:</h3>
  <form action="/login" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Email" style="width: 100px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password" style="width: 100px">
    <input type="submit" value="Login">
  </form>
  <% } else { %>
  <h1>Logged in already</h1>
  <h3>user_id: <%= user_id %></h3>
  <form action="/login/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
  <% } %>



</body>

</html>




